// Importa solo los breakpoints de Bootstrap desde node_modules
@import "~bootstrap/scss/bootstrap";



//----------------------------------------Fuentes--------------------------//



body {
    background-color: rgb(232, 233, 240);
    height: 100vh;
    
}
/*-------------------Barra de navegacion--------------*/
.navbar-brand{
    font-family: 'Mitr';
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 1px;
    
}

.nav-link{
    font-family: 'Tenor Sans';
    font-weight:400;
    font-size: 16px;
    color: rgb(8, 31, 56) !important;
}
/*-------------Fin barran de navegacion-------------------------*/


/*----------Contenido texto----------*/

.section_article_div_texto_titulo{
    font-family: 'Mitr';
    color: #222F3E;
    font-weight: 700;
    
}
.section_article_div_texto_subtitulo{
    font-family: 'Tenor Sans';
    color:#2D3436;
    font-weight:300;
}




h5{
    font-family: 'Mitr';
    color:#222F3E;
    font-weight: 700;
}

li{
    font-family: 'Tenor Sans';
    font:weight 400;
    color:#2D3436;

}

.linea {
    border: none;
    height: 1px;
    background-color: rgb(178, 178, 228);
    
}

[data-animation="fade"]{
    opacity: 0;
    transform: translate(100%);
    transition: .6s ease-in .3s;

    --opacity:1;
    --transform: traslate(0);
    
}

[data-animation="show"]{
    opacity: 0;
    transform: scale (0);
    transition: .6s ease-in .3s;

    --opacity:1;
    --transform: scale(1);
    
}

[data-animation="up"]{
    opacity: 0;
    transform: translateY(100%);
    transition: .6s ease-in .3s;

    --opacity:1;
    --transform: translateY(0);
    
}

.unset{
    opacity: var(--opacity);
    transform: var(--transform);
}


/*----------Fin contenido---------------*/

/*Media queris*/
@include media-breakpoint-between(lg, xxl) { 

    .navbar{
        background-color: transparent !important;
        position: absolute;

    }

}

