// Importa solo los breakpoints de Bootstrap desde node_modules
@import "~bootstrap/scss/bootstrap";



//----------------------------------------Fuentes--------------------------//
//Mitr
@font-face {
    font-family: 'Mitr';
    src: url('/public/assets/font/Mitr/Mitr-Regular.ttf') format('truetype');
    font-weight: 100 900; /* Soporta todos los pesos de la fuente variable */
    font-style: normal; /* Debe ser font-style y no font-family */
}

//Tenor
@font-face {
    font-family: 'Tenor';
    src: url('/public/assets/font/Tenor_Sans/TenorSans-Regular.ttf') format('truetype');
    font-weight: 100 900; /* Soporta todos los pesos de la fuente variable */
    font-style: normal; /* Debe ser font-style y no font-family */
}

/*---------------------------------Fin importacion de fuentes------------------------------------------*/


body{
    background-color: rgb(232, 233, 240);
    height: 100vh;
    
}

.main_section_form_article_titulo{
    font-family:'Mitr';
}

.main_section_form_article_subtitulo{
    font-family:'Tenor';
}

.form-text{
    font-size: 9px;
    font-family: 'Tenor';
}

.form-label{
    font-family:'Tenor';
    
}

p{
    font-size:10px;
    font-family: 'Tenor';
}

a{
    font-size: 11px;
    font-family: 'Mitr';
}

button{
    font-family: Tenor;

}

button:hover {
    background-color: rgb(12, 3, 151);
    cursor: pointer; /* Añade un cursor pointer para mejor experiencia de usuario */
    transition: background-color 0.3s; /* Suaviza la transición al cambiar el color */
}

//media qerys


