// Importa solo los breakpoints de Bootstrap desde node_modules
@import "~bootstrap/scss/bootstrap";

:root {
    /* Text colors */
    --color-text-primary: rgb(3, 43, 83);
    --color-text-secondary: #0b3a64;

    /* Primary Button */
    --color-primary: #4F6DF5;
    --color-primary-hover: #3B53C7;
    --color-primary-focus: #5B78FF;

    /* Secondary Button */
    --color-secondary: #ADB5BD;
    --color-secondary-hover: #8C939A;
    --color-secondary-focus: rgba(79, 109, 245, 0.2);

    /* Button text */
    --color-button-text: #ffffff;

}


body {
    background-color: rgb(232, 233, 240);
    height: 100vh;
    width: 100%;
    box-sizing: border-box !important;
    font-family: "Tenor Sans";
}

header {
    background-color: rgb(232, 233, 240);
    z-index: 200;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.45rem 2rem 0.45rem 1.27rem;
    top: 0;
    left: 0;
}
.buscar {
    display: inline-block;
    padding: 0.5rem 1.2rem;
    background-color: var(--color-primary);
    border: none;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
    /* Animación suave */
}

.buscar:hover {
    background-color: var(--color-primary-hover);
    /* Color hover */
}

.buscar:focus {
    background-color: var(--color-primary-focus);
    /* Color focus */
}
/*Menu*/
.menu-container{
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu div{
    width: 100%;
}


/*Seccion izquierda del header*/
.left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.4rem;
}

.brand {
   
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}
.brand .name{
    font-family: 'Mitr';
    font-weight: 500;
    font-size: 23px;
    letter-spacing: 1.5px;
    color: var(--color-text-primary)
    
}
.right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}
.right img{
    width: 1.5rem;
    margin: 0.5rem;
}
.right .user{
    width: 2.1rem;
    border-radius: 50%;
}
.right a {
    color: var(--color-text-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: background-color 0.2 ease;
    padding: 0.5rem;

}
.right a:hover,
.sidebar a:hover{
    background-color: var(--color-secondary-focus);
}
/*Sidebar*/
.sidebar{
    background-color: rgb(232, 233, 240);
    margin-top: 4rem;
    width: 4rem;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 1.1rem 0;
    overflow-y: auto; 
    transition:width 0.3s ease; 
}
.sidebar.menu-toggle{
    width: 18.75rem;
}
.sidebar a{
    display: flex;
    align-items: center;
    gap: 1.3rem;
    padding: 0.9rem 0.7rem;
    text-decoration: none;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    color: var(--color-text-primary);
}

.seleccionado{
    background-color:  rgba(208, 209, 209, 0.445) ;
    
}

/*main*/
main{
    margin-top: 5rem;
    margin-left: 4rem;
    padding: 2rem;
    transition: margin-left 0.3s ease;
}
main.menu-toggle{
    margin-left: 18.75rem;
}


/*Estilos para el contenido del main*/
/*card del dashboard*/
.card-dashboard {
  width: 100%;              /* Se adapta al contenedor */
  
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 1rem;
}
.card-1{
    background-color: #dcebdb;
}
.card-2{
    background-color: #f9fab1;
}
.circle-card-2{
    background-color:  #f1f38e;
}
.card-3{
    background-color: rgb(241, 195, 195);
}
.circle-card-3{
    background-color: rgb(224, 168, 168);
}
.card-4{
    background-color: #b8e4fd;
}
.card-5{
    background-color: #f7d5fc;
}



/*Estilos responsivos*/
@media (max-width: 500px) { 
  .sidebar{
    width: 0;
    margin-top: 3.2rem;
  }
  main{
    margin-left: 0;

    
  }
  main.menu-toggle{
    margin-left: 0;
    
  }
 
 
}